<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/" class="btn btn-primary navbar-btn">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
</nav>

<div>
    <iframe width="560" height="315" ng-src="{{data.content.src}}" frameborder="0" allowfullscreen></iframe>
    <div>
        <h3>Name: {{data.author[0].name.$t}}</h3>
        <h4>Title: {{data.title.$t}}</h4>
        <span>Date: {{data.published.$t | date}}</span>
        <span>Likes:
                <span class="glyphicon glyphicon-thumbs-up"></span> {{data.yt$rating.numLikes}} |
                <span class="glyphicon glyphicon-thumbs-down"></span> {{data.yt$rating.numDislikes}}
        </span>
    </div>

    <ul ng-show="data.reviews.length">
        <li ng-repeat="review in data.reviews">
            <blockquote>
                <strong>{{review.stars}} Stars</strong>
                {{review.body}}
                <cite class="clearfix">—{{review.author}}</cite>
            </blockquote>
        </li>
    </ul>

    <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(data)">
        <!--  Live Preview -->
        <blockquote>
            <b>Stars: {{reviewCtrl.review.stars}}</b>
            {{reviewCtrl.review.body}}
            <cite>by: {{reviewCtrl.review.author}} — {{reviewCtrl.review.createdOn | date}}</cite>
        </blockquote>

        <!--  Review Form -->
        <h4>Submit a Review</h4>
        <fieldset class="form-group">
            <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                <option value>Rate the Product</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
        </fieldset>
    </form>
</div>
